<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafè Order</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>
<body data-page="home-page">
    <section class="bgr-section">
         <div id="item-btn-container">
             <% if (showItemsList) { %>
                <a href="/items-list" class="items-btn">Menu items ready to order</a>
            <% } %>
        </div>     
        <div id="contactModal" class="modal">
            <div class="modal-content">
                <h2>Enter item details</h2>
                <form action="/submit" method="POST" class="modal-form">
                    <label>Name:</label>
                    <input type="text" name="name" required>

                    <label>Description:</label>
                    <input type="text" name="description" required>

                    <label>Price:</label>
                    <input type="text" name="price" required>

                    <button type="submit" class="submit-btn">Send</button>
                </form>
            </div>
        </div>
    </section>
    <script src="/script.js"></script>
</body>
</html>